:root {
  --primary-color: #e3ffff;
  --secondary-color: #97dcff;
  --tertiary-color: #545d8d;
}

body {
  margin: 0px;
  background-color: var(--secondary-color);
  font-size: 17px;
  font-family: "Roboto Mono", monospace;
}

#container {
  margin: 100px;
  height: 500px;
  width: 420px;
  margin: 100px auto;
  background: var(--primary-color);
  box-shadow: 5px 5px 5px var(--tertiary-color);
  border-radius: 15px;
  border: 1px solid;
}

input {
  font-family: "Press Start 2P", cursive;
}

.title {
  background: var(--tertiary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

.tipsForm {
  padding-left: 20px;
  padding-right: 20px;
}

.formInput {
  background-color: var(--primary-color);
  width: 40px;
  padding: 5px 5px 5px 5px;
}

.formInput:focus {
  border: 3px solid var(--secondary-color);
  outline: none;
}

.formSelect {
  background-color: var(--primary-color);
  width: 180px;
  padding: 5px;
  font-size: 13px;
  font-family: "Press Start 2P", cursive;
}

.formSubmit {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 35px auto;
  background: var(--tertiary-color);
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  color: white;
}

#totalTip {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}
